

body {
    background-image: url("../../assets/images/sugar-crystals.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #777777;
    background-color:#F7F6F2;
}

h1 { 
    text-shadow: 1px 1px 1px black;
    color:  #0F224E;
}

.game-about, 
.game-info {
    margin: 0 auto;



    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 25px;
    margin-bottom: 50px;
    margin-top: 50px; 

    padding: 25px;
    background-color: rgba(255, 255, 255, 0.85); /* Black w/opacity/see-through */
    border: 1px solid #888888;

    -moz-box-shadow: -3px 3px 5px #888888;
    -webkit-box-shadow: -3px 3px 5px #888888;
    box-shadow: -3px 3px 5px #888888;

}

.crystalContainer {
    float: left;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.crystal {
    position: relative;
    float: left;
    height: 100px;
    width: 100px;

}

.crystal-img {
    height: 100px;
    width: 100px;
}

#random-number,
#score {
    height: 100px;
    width: 150px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-family: monospace;
    font-size: 24px;
    text-align: center;
    background-color: #007DC1;
    background-color:#3E3E3E;
    color: #fff;
    color: 	#40BDF0;
    float: left;
    padding: 25px 25px 25px 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 4px 8px 40px 20px #0ff; */
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}

#tracker {
    height: 135px;
    width: 225px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    line-height: 34px;
    background-color: lightblue;
    color: #fff;
    float: left;
    padding-top: 15px;
    padding-left: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
