

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #777777;
    background: url("../images/asanoha-400px.png");
}

h1 {
    color: #007DC1;
    text-shadow: 2px 2px 4px #ccc;
}

.game-about, 
.game-info {
    width: 75%;
    margin: 0 auto;
    background-color: #FFECBD;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 25px;
}
.crystalContainer {
    background-color:#3E3E3E;
    float: left;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.crystal {
    position: relative;
    float: left;
    height: 100px;
    width: 100px;

}

.crystal-img {
    height: 100px;
    width: 100px;
}

#random-number,
#score {
    height: 100px;
    width: 150px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    text-align: center;
    background-color: #007DC1;
    color: #fff;
    float: left;
    padding: 25px 25px 25px 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tracker {
    height: 135px;
    width: 225px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    line-height: 34px;
    background-color: lightblue;
    color: #fff;
    float: left;
    padding-top: 15px;
    padding-left: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
